<footer class="p-6 w-full bg-[#0074c7] flex flex-col text-white">
    <div class="flex flex-col justify-evenly lg:flex-row lg:items-center">
        <a (click)="navigateHome()" class="hover:cursor-pointer max-w-lg"><img src="/assets/images/Logo.png" alt="Logo trouve ton artisan de la région Auvergne-Rhône-Alpes" class="w-full h-auto"></a>
        <section class="p-4">
            <h2 class="mb-6">Notre adresse</h2>
            <p>101 cours Charlemagne<br>
                CS 20033<br>
                69269 LYON CEDEX 02<br>
                France<br>
                <a href="tel:+33426734000">
                    +33 (0)4 26 73 40 00
                </a>
            </p>
        </section>
    </div>
    <hr class="border-t border-[#f1f8fc] my-6">
    <div class="flex flex-wrap gap-x-8 gap-y-4 md:justify-center">
        <a href="/legal-mentions">Mentions légales</a>
        <a href="/personnal-datas">Données personnelles</a>
        <a href="/accessibility">Accessibilité : partiellement conforme</a>
        <a href="/press">Presse</a>
        <a href="/trade">Marchés publics</a>
        <a href="/get-to-the-region">Venir à la Région</a>
        <a href="/contact">Contacts</a>
        <a href="/cookies-policy">Politique des cookies</a>
        <a href="/handle-cookies">Gestion des cookies</a>
    </div>
</footer>