<h1 class="mb-10 text-3xl">Qui suis-je ?</h1>
<div *ngIf="artisan" class="flex flex-col w-full justify-between gap-y-10 gap-x-10">
    <div class="flex flex-col justify-evenly shadow-[0_0_10px_rgba(0,0,0,0.15)] rounded-lg p-6 items-center px-20">
        <h2 class="p-4 text-xl">{{ artisan.name }}</h2>
        <div class="flex justify-evenly">
            <ng-container *ngFor="let star of [0,1,2,3,4]; let i = index">

                <!-- FULL star -->
                <svg *ngIf="getStarType(i) === 'full'" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" class="w-6 h-6 text-[#0074c7]">
                  <path d="M12 17.27L18.18 21L16.54 13.97L22 9.24l-7.19-.62L12 2L9.19 8.62 2 9.24 7.46 13.97 5.82 21z"/>
                </svg>
            
                <!-- HALF star -->
                <svg *ngIf="getStarType(i) === 'half'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6 text-[#0074c7]">
                  <defs>
                    <linearGradient class="halfGrad">
                      <stop offset="50%" stop-color="currentColor" />
                      <stop offset="50%" stop-color="transparent" />
                    </linearGradient>
                  </defs>
                  <path fill="url(.halfGrad)" stroke="currentColor" stroke-width="1.5" d="M12 17.27L18.18 21L16.54 13.97L22 9.24l-7.19-.62L12 2L9.19 8.62 2 9.24 7.46 13.97 5.82 21z"/>
                </svg>
            
                <!-- EMPTY star -->
                <svg *ngIf="getStarType(i) === 'empty'" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" viewBox="0 0 24 24" class="w-6 h-6 text-gray-300">
                  <path stroke-width="2" d="M12 17.27L18.18 21L16.54 13.97L22 9.24l-7.19-.62L12 2L9.19 8.62 2 9.24 7.46 13.97 5.82 21z"/>
                </svg>
            
              </ng-container>
        </div>
        <p class="text-lg py-4">{{ artisan.specialty }}</p>

        <div class="flex items-center">
            <img src="/assets/images/localisation.png" class="w-full max-w-8 h-8" alt="icone de localisation">
            <p class="text-lg py-4">{{ artisan.location }}</p>
        </div>

        <a *ngIf="artisan.website" [href]="artisan.website" target="_blank">{{ artisan.website }}</a>
    </div>
</div>

<hr class="border-t-8 border-[#cd2c2e] w-10 mt-8 mx-8">
<section>
    <h2 class="text-xl mx-8 mb-8 mt-4">À propos</h2>
    <div *ngIf="artisan" class="flex flex-col justify-evenly shadow-[0_0_10px_rgba(0,0,0,0.15)] rounded-lg p-6 items-center px-20">
        <p>{{ artisan.about }}</p>
    </div>
</section>

<hr class="border-t-8 border-[#82b864] w-10 mt-8 mx-8">
<section>
    <h2 class="text-xl mx-8 mb-8 mt-4">Me contacter</h2>
    <form (ngSubmit)="sendEmail()" #contactForm="ngForm" class="flex flex-col justify-evenly shadow-[0_0_10px_rgba(0,0,0,0.15)] rounded-lg p-6 px-20 gap-y-8">
        <div class="flex flex-col gap-y-10 lg:flex-row lg:gap-x-10">
            <input type="text" name="name" [(ngModel)]="form.name" required placeholder="Nom" class="border rounded p-2">
            <input type="text" name="firstname" [(ngModel)]="form.firstname" required placeholder="Prénom" class="border rounded p-2">
        </div>
        <input type="text" name="subject" [(ngModel)]="form.subject" required placeholder="Objet" class="border rounded p-2 w-4/5">
        <textarea name="message" [(ngModel)]="form.message" required placeholder="Votre message" rows="5" class="border rounded p-2 w-4/5"></textarea>

        <button type="submit" class="bg-[#0074c7] text-white rounded p-2 hover:opacity-50 mx-auto w-40 hover:cursor-pointer">
            Envoyer
        </button>
    </form>
</section>

<ng-template [ngIf]="!artisan">
    <section class="p-8 text-center">
        <h1>Artisan non trouvé !</h1>
    </section>
</ng-template>
  